<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script
    src="https://code.jquery.com/jquery-3.5.1.js"
    integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
    crossorigin="anonymous"
  ></script>
    <title>Document</title>
</head>
<body>
    <h1>login</h1>
    <input type = "email" id = "email" placeholder="email 입력하세요">
    <input type = "password" id = "password" placeholder="password를 입력하세요">
    <input type = "button" id = "loginBtn" value = "login">
    <input type = "button" id = "signupBtn" value = "signup">

    <script type = "text/javascript" src = "/script/login.js"></script>
</body>
</html>